@media (max-width: 500px) {
   .products{
       display: inherit;
       height: auto;
   }
   .product{
       margin-top: auto;
   }
   .main_setion{
       padding: 4%;
   }
   .beneficios,.mentions{
       display: inherit;
   }
}